.header-wrapper{
    max-width: 1349px;
    height: 100px;
    padding-left: 7.5px;
    position: relative;
    margin: 0 auto;
}
.logo{
    background-image: url("./../img/logo.jpg");
    background-size: 120px 100px;
    background-position: center ;
    width: 120px;
    height: 100px;
    position: absolute;
    float: left;
}
.main-navi-block ul.menu-list{ 
    display: table;
    width: auto;
    height: 100px;
    margin: 0px;
    margin-left: 120px;
}
.main-navi-block ul.menu-list li{ 
    float: left;
    display: table-cell;
    position: relative;
    list-style: none;
    text-align: center;
}
.main-navi-block ul.menu-list li .title{ 
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
}
.main-navi-block ul.menu-list li .title a{ 
    color: black;
    text-decoration:none;
}
.main-navi-block ul.menu-list li .title a:hover{ 
    color: #69b40f;
}
.top-navi-block{
    float: right;
    position: relative;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    vertical-align: middle;
}
.top-navi-block ul.top-navi-wrapper{
    display: table;
    position: relative;
    list-style: none;
}
.top-navi-block ul.top-navi-wrapper li.top-item{
    display: table-cell;
    list-style: none;
    vertical-align: middle;
}
.top-navi-block ul.top-navi-wrapper li.top-item .dot{
    width: 30px;
}
.top-navi-block ul.top-navi-wrapper li.top-item .dot .circle{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 auto;
    background: #a5cf4c;
}
.top-navi-block ul.top-navi-wrapper li .top-title{
    font-size: 12px;
    color: #a5cf4c;
    text-decoration: none;
    white-space: nowrap;
    float: left;
    padding: 8px 0;
    font-weight: bold;
}
.d-header .header-wrapper .search-block{
    width: 240px;
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    border-bottom: solid 2px #cbcbcb;
    position: relative;
}
.d-header .header-wrapper .search-block .align-center{
    height: 35px;
    vertical-align: middle;
}
.d-header .header-wrapper .search-block .align-center form .submit{
    float: left;
    width: 25px;
    height: 35px;
    background-image: url("https://www.htc.com/assets/layout/img/ltr/magnify.png");
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 25px 25px;
    border: none;
    background-color: transparent;
    outline: 0;
}
.d-header .header-wrapper .search-block .align-center form .query{
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 13px;
    height: 35px;
    width: 210px;
    padding: 5px;
    border: 0;
    font-weight: bold;
}

